<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Loading...</title>
    <% if (htmlWebpackPlugin.options.description) { %>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>"/>
    <% } %>

    <script type="text/javascript">
      // Single Page Apps for GitHub Pages (https://github.com/rafrex/spa-github-pages)
      // Copyright (c) 2016 Rafael Pedicini, MIT License
      (function (l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function (v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            console.log(l.pathname.slice(0, -1))
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <style>
      /* 오른쪽 정렬 및 검정색 링크 스타일 */
      nav {
        text-align: right;
        margin: 10px;
      }
      nav a {
        color: black;
        text-decoration: none;
        margin-left: 15px;
      }
      nav a:hover {
        text-decoration: underline;
      }
      .profile-image {
        width: 600px;
      }

    </style>
    
  </head>
  <body>
<nav>
  <a href="/">Home</a> | 
  <a href="/publication/index.html">Publication</a>
</nav>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="app"></div>
  </body>
</html>
